<% serv_sum = @serv_types.map{|i, count| count}.sum %>


<div class="widget">
              <h3 class="section-title first-title">Инвентаризация оборудования <%= @current_zone if  @current_zone!= t(:zone_not_defined)%></h3>
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                  <div class="widget-content-blue-wrapper changed-up">
                    <div class="widget-content-blue-inner padded">
                      <div class="pre-value-block">Сервера</div>
                      <div class="value-block">
                        <div class="value-self"><%= serv_sum %></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                  <div class="widget-content-blue-wrapper changed-up">
                    <div class="widget-content-blue-inner padded">
                      <div class="pre-value-block"> Блэйд центры</div>
                      <div class="value-block">
                        <div class="value-self"><%= @bc_count %></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 text-center hidden-md">
                  <div class="widget-content-blue-wrapper changed-up">
                    <div class="widget-content-blue-inner padded">
                      <div class="pre-value-block">Ленточные библиотеки</div>
                      <div class="value-block">
                        <div class="value-self"><%= @tl_count %></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                  <div class="widget-content-blue-wrapper changed-up">
                    <div class="widget-content-blue-inner padded">
                      <div class="pre-value-block">Устройства WIFI</div>
                      <div class="value-block">
                        <div class="value-self"><%= @wf_count %></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


<div class="row">
   <div class="col-md-12">
     <div class="widget">
        <div class="widget-content-white padded glossed">
          <div id="topsellers_barchart"></div>
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="widget">
      <h3 class="section-title first-title"><i class="icon-table"></i> Типы серверов</h3>
      <div class="widget-content-white padded glossed">
        <div id="piechart"></div>
      </div>
    </div>
  </div>
  

  <div class="col-md-5">
    <div class="widget">
      <h3 class="section-title first-title"><i class="icon-table"></i> Разрядность ОС</h3>
      <div class="widget-content-white padded glossed">
        <div id="os_bit_chart"></div>
      </div>
    </div>
  </div>


</div>


<script>
  $(function() {
  $("#piechart").highcharts({
        colors: ["#3498db", "#e74c3c", "#1abc9c", "#34495e", "#9b59b6", "#95a5a6"],
        title: {
          text: false,
          style: {
            fontFamily: "Open Sans",
            fontSize: "14px"
          }
        },
        tooltip: {
          pointFormat: "{series.name}: <b>{point.percentage:.1f}%</b>"
        },
        credits: {
          enabled: false
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: "pointer",
            dataLabels: {
              enabled: true,
              color: "#333333",
              connectorColor: "#333333",
              format: "<b>{point.name}</b>: {point.y} шт"
            }
          }
        },
        series: [
          {
            type: "pie",
            name: "Часть",
            data: [
              <%@serv_types.each do |serv|%>
                <%=raw serv %>,
              <%end%>    
            ]
          }
        ]
      });


 $('#topsellers_barchart').highcharts({
            chart: {
                type: 'column',
                margin: [ 50, 50, 100, 80]
            },
            title: {
                text: 'Модели серверов'
            },
            credits: {
              enabled: false
            },
            xAxis: {
                categories:  <%= raw @model_types.map{|i, s| i}.to_json %> ,
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Количество'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '<b>{point.y} шт</b>',
            },
            series: [{
                name: 'Population',
                data: [
                <%@model_types.each do |s, l|%>
                  <%=raw l %>,
                <%end%>  
              ],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });

      


      $('#os_bit_chart').highcharts({
            chart: {
                type: 'column',
                margin: [ 50, 50, 100, 80]
            },
            title: {
                text: false
            },
            credits: {
              enabled: false
            },
            xAxis: {
                categories:  <%= raw @os_bits.map{|i, s| i}.to_json %> ,
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Количество'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '<b>{point.y} шт</b>',
            },
            series: [{
                name: 'Population',
                data: [
                <%@os_bits.each do |s, l|%>
                  <%=raw l %>,
                <%end%>  
              ],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });


});








</script>


