<div class="widget">
  <h3 class="section-title first-title"><i class="icon-table"></i> Blade Centers</h3>
  <div class="widget-content-white glossed">
    <div class="padded">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Наименование</th>
          <th>IP</th>
		  <th>In</th>
		  <th>Расположение<th>
          <th>Модель</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% @blades.each_with_index do |blade, i| %>
            <tr>
              <td><%= i + 1  %></td>
              <td><%= link_to blade.name, blade_parts_path(blade) %></td>
              <td><%= blade.ip %></td>
			  <td><%= blade.inventory_num %></td>
			  <td><%= blade.rackspace.area.name + " " + blade.rackspace.name  if blade.rackspace.present? %></td>
              <td><%= blade.DcatItem.name %> </td>
              <td><%=l blade.created_at, format: :long %></td>
              <td class="text-right">
			    <% if (current_user.is_admin?) %>
					<%= link_to raw("<i class=\"icon-pencil\"></i> edit"), edit_blade_path(blade), :class => 'btn btn-default btn-xs' %>
					<%= link_to raw("<i class=\"icon-remove\"></i>"), blade_path(blade), 
                            :method => :delete, 
                            :remote => true,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Вы уверены?')) },
                            :class => 'btn btn-danger btn-xs' %>
				<% end %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_blade_path,
            :class => 'btn btn-primary' %>


