<dl class="dl-horizontal">
  <dt><strong>Наименование:</strong></dt>
  <dd><%= @blade.name %></dd>
  <dt><strong>IP:</strong></dt>
  <dd><%= @blade.ip %></dd>
  
  <dt><strong>Инвентарный номер:</strong></dt>
  <dd><%= @blade.inventory_num %></dd>
  
  <dt><strong>Расположение</strong></dt>
  <dd><%= @blade.rackspace.area.name + " " + @blade.rackspace.name if @blade.rackspace.present?  %></dd>

  <dt><strong>Модель</strong></dt>
  <dd><%= @blade.DcatItem.name %></dd>

  <dt><strong>Дата создания</strong></dt>
  <dd><%= l @blade.created_at, format: :long %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              blades_path, :class => 'btn'  %>
<% if (current_user.is_admin?) %>			  
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_blade_path(@blade), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              blade_path(@blade),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>			  
</div>
