<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="widget">
      <div class="widget-content-white glossed">
        <div class="padded">
          <%= simple_form_for @wifi, :html => { :class => 'form-horizontal' } do |f| %>
            <h3 class="form-title form-title-first"><i class="icon-th-list"></i>Устройство пользователя</h3>

              <%= f.input :username, 
                          label: 'ФИО',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'}

              %>

              <%= f.input :model, 
                          label: 'Модель устройства',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'}%>

              <%= f.input :mac, 
                          label: 'MAC',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'}%>

              <%= f.input :devise_type_id, 
                          collection: @devise_types, 
                          :include_blank => "Выберите тип устройства",
                          label: 'Тип устройства',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'}
              %>

              <%= f.input :devise_own_id, 
                          collection: @devise_owns, 
                          :include_blank => "Выберите принадлежность",
                          label: 'Принадлежность',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'}
              %>

            <div class="form-group">
              <div class="col-md-offset-4 col-md-8">
                    <%= f.button :submit, :class => 'btn-default' %>
                    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), wifis_path, :class => 'btn' %>
              </div>
            </div>
          <% end %> <!-- end form -->
        </div>
      </div>
    </div>
  </div>
</div>