<% title "устройства пользователей" %>

<div class="widget">
	<div class="row">
		<div class="col-md-8">
			<h3 class="section-title first-title"><i class="icon-table"></i> Устройства пользователей</h3>
		</div>
		<div class="col-md-4 text-right">
			<%= link_to t('.new', :default => t("helpers.links.new")),
					new_wifi_path,
					:class => 'btn btn-primary' %>
				
			<%= link_to "Export Excel",
					wifis_path(format: 'xls'),
					:class => 'btn btn-success' %>
		</div>
	</div>
  
  <div class="widget-content-white glossed">
    <div class="padded">
    <table class="table table-striped table-bordered table-hover">
      <colgroup>
        <col width="30" />
        <col width="250" />
        <col width="150" />
        <col width="100" />
        <col width="100" />
        <col width="100" />
        <col width="100" />
      </colgroup>
      <thead>
        <tr>
          <th>№</th>
          <th>ФИО</th>
          <th>Модель</th>
          <th>MAC</th>
          <th>Тип устройства</th>
          <th>Принадлежность</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% @wifis.each_with_index do |wifi, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= wifi.username %></td>
              <td><%= wifi.model %></td>
              <td><%= wifi.mac %></td>
              <td><%= wifi.dev_type.name %></td>
              <td><%= wifi.dev_own.name %></td>
              <td class="text-right">
				<% if (current_user.is_admin?) %>
					<%= link_to raw("<i class=\"icon-pencil\"></i> edit"), edit_wifi_path(wifi), :class => 'btn btn-default btn-xs' %>
					<%= link_to raw("<i class=\"icon-remove\"></i>"), wifi_path(wifi), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Вы уверены?')) },
                            :class => 'btn btn-danger btn-xs' %>
				<% end %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_wifi_path,
            :class => 'btn btn-primary' %>



