<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
 </OfficeDocumentSettings>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" ss:Size="11" ss:Color="#000000"/>
   <NumberFormat/>
  </Style>
  <Style ss:ID="s15">
   <Interior/>
   <Protection/>
  </Style>
  <Style ss:ID="s62">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Interior/>
   <Protection/>
  </Style>
  <Style ss:ID="s63">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Interior/>
   <Protection/>
  </Style>
  <Style ss:ID="sMain">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Interior/>
   <Protection/>
  </Style>
  <Style ss:ID="s65">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Interior/>
   <Protection/>
  </Style>
  <Style ss:ID="head">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Calibri" ss:Size="11" ss:Color="#000000" ss:Bold="1"/>
   <Interior ss:Color="#CCCCCC" ss:Pattern="Solid"/>
   <Protection/>
  </Style>
  <Style ss:ID="s67">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Calibri" ss:Size="11" ss:Color="#000000" ss:Bold="1"/>
   <Interior ss:Color="#CCCCCC" ss:Pattern="Solid"/>
   <Protection/>
  </Style>
  <Style ss:ID="s68">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Interior ss:Color="#CCCCCC" ss:Pattern="Solid"/>
   <Protection/>
  </Style>
  <Style ss:ID="s69">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Calibri" x:CharSet="204" x:Family="Swiss" ss:Size="11"
    ss:Color="#000000"/>
   <Interior ss:Color="#CCCCCC" ss:Pattern="Solid"/>
   <Protection/>
  </Style>
  <Style ss:ID="s70">
   <Alignment ss:Horizontal="Left" ss:Vertical="Bottom"/>
   <Font ss:FontName="Calibri" x:CharSet="204" x:Family="Swiss" ss:Size="16"
    ss:Color="#000000"/>
   <Interior/>
   <Protection/>
  </Style>
 </Styles>
 <Worksheet ss:Name="WIFI">
  <Table x:FullColumns="1"
   x:FullRows="1" ss:StyleID="s15">
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="26.25"/>
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="200"/>
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="180"/>
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="120"/>
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="120" />
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="100"/>
   <Row ss:Index="2" ss:Height="21">
    <Cell ss:Index="2" ss:StyleID="s70"><Data ss:Type="String">Пользователи ОДУ ЮГА, подключенные к WIFI</Data></Cell>
   </Row>
   <Row ss:Index="4" ss:Height="30">
    <Cell ss:StyleID="head"><Data ss:Type="String">№ п/п</Data></Cell>
    <Cell ss:StyleID="head"><Data ss:Type="String">ФИО</Data></Cell>
    <Cell ss:StyleID="head"><Data ss:Type="String">Модель</Data></Cell>
    <Cell ss:StyleID="head"><Data ss:Type="String">MAC</Data></Cell>
    <Cell ss:StyleID="head"><Data ss:Type="String">Тип устройства</Data></Cell>
    <Cell ss:StyleID="head"><Data ss:Type="String">Принадлежность</Data></Cell>
   </Row>

   <% @wifis.each_with_index do |wifi, i| %>
     <Row ss:AutoFitHeight="1" >
      <Cell ss:StyleID="sMain"><Data ss:Type="Number"><%= i + 1 %></Data></Cell>
      <Cell ss:StyleID="sMain"><Data ss:Type="String"><%= wifi.username %></Data></Cell>
      <Cell ss:StyleID="sMain"><Data ss:Type="String"><%= wifi.model %></Data></Cell>
      <Cell ss:StyleID="sMain"><Data ss:Type="String"><%= wifi.mac %></Data></Cell>
      <Cell ss:StyleID="sMain"><Data ss:Type="String"><%= wifi.dev_type.name %></Data></Cell>
      <Cell ss:StyleID="sMain"><Data ss:Type="String"><%= wifi.dev_own.name %></Data></Cell>
     </Row>
   <% end %>
  </Table>
 </Worksheet>
</Workbook>