<dl class="dl-horizontal">
  <dt><strong>ФИО пользователя:</strong></dt>
  <dd><%= @wifi.username %></dd>
  <dt><strong>Модель:</strong></dt>
  <dd><%= @wifi.model %></dd>
  <dt><strong>MAC:</strong></dt>
  <dd><%= @wifi.mac %></dd>
  <dt><strong>Тип устройства:</strong></dt>
  <dd><%= @wifi.devise_type_id %></dd>
  <dt><strong>Принадлежность:</strong></dt>
  <dd><%= @wifi.devise_own_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              wifis_path, :class => 'btn'  %>
<% if (current_user.is_admin?) %>			  
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_wifi_path(@wifi), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              wifi_path(@wifi),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>
</div>
