
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="widget">
      <div class="widget-content-white glossed">
        <div class="padded">
          <%= simple_form_for [@blade,@part], :html => { :class => 'form-horizontal' } do |f| %>
  
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @part.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


            <h3 class="form-title form-title-first"><i class="icon-th-list"></i> Лезвие <%= @blade.name %></h3>
              
              <%= f.input :num, 
                          collection: 1..14, 
                          :include_blank => "Номер лезвия",
                          label: 'Номер лезвия',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'}
              %>


              <%= f.input :model_id, 
                          collection: @models, 
                          :include_blank => "Выберите модель",
                          label: 'Модель',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'}
              %>

              <%= f.input :server_id, 
                          collection: @servers, 
                          :include_blank => "Не установлен",
                          label: 'Сервер',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'}
              %>

            <div class="form-group">
              <div class="col-md-offset-4 col-md-8">
                    <%= f.button :submit, :value => "Сохранить", :class => 'btn-default' %>
                    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), blade_parts_path(params[:blade_id]), :class => 'btn' %>
              </div>
            </div>
          <% end %> <!-- end form -->
        </div>
      </div>
    </div>
  </div>
</div>