<div class="widget">
  <h3 class="section-title first-title"><i class="icon-table"></i> Лезвия <%= @blade.name %></h3>
  <div class="widget-content-white glossed">
    <div class="padded">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Модель</th>
          <th>Сервер</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% @parts.each do |part| %>
            <tr>
              <td><%= part.num  %></td>
              <td><%= part.model.name if part.model.present? %></td>
              <td><%= part.server.present? ? link_to(part.server.name, server_path(part.server)) : "не установлен" %></td>
              <td class="text-right">
				<% if (current_user.is_admin?) %>
					<%= link_to raw("<i class=\"icon-pencil\"></i> edit"), edit_blade_part_path(@blade, part), :class => 'btn btn-default btn-xs' %>
					<%= link_to raw("<i class=\"icon-remove\"></i>"), [@blade, part], :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Вы уверены?')) },
                            :class => 'btn btn-danger btn-xs' %>
				<% end %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_blade_part_path,
            :class => 'btn btn-primary' %>


