<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @part.name %>
</p>

<p>
  <b>Model:</b>
  <%= @part.model_id %>
</p>

<p>
  <b>Num:</b>
  <%= @part.num %>
</p>

<p>
  <b>Blade:</b>
  <%= @part.blade_id %>
</p>

<p>
  <b>Server:</b>
  <%= @part.server_id %>
</p>

<% if (current_user.is_admin?) %>
	<%= link_to 'Edit', edit_part_path(@part) %> |
<% end %>
<%= link_to 'Back', parts_path %>
