<div class="row">
	<div class="col-md-8 col-md-offset-2">
	  <div class="widget">
	    <div class="widget-content-white glossed">
	      <div class="padded">
	        <%= simple_form_for [@area,@rackspace], :html => { :class => 'form-horizontal' } do |f| %>
	          <h3 class="form-title form-title-first"><i class="icon-th-list"></i> <%= t(:rackspaces) %></h3>

		          <%= f.input :name, 
		          						label: 'Наименование',
		          						label_html: { class: 'col-md-4' },
		          						:wrapper => :medium,
		          						input_html: {class: 'form-control'}
		          %>

	          <div class="form-group">
	            <div class="col-md-offset-4 col-md-8">
	                 	<%= f.button :submit, :value => "Сохранить", :class => 'btn-default' %>
    								<%= link_to t('.cancel', :default => t("helpers.links.cancel")), area_rackspaces_path(@area), :class => 'btn' %>
	            </div>
	          </div>
	        <% end %> <!-- end form -->
	      </div>
	    </div>
	  </div>
	</div>
</div>