<dl class="dl-horizontal">
  <dt><strong>Наименование:</strong></dt>
  <dd><%= @rackspace.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:area_id) %>:</strong></dt>
  <dd><%= @rackspace.area.name %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              rackspaces_path, :class => 'btn'  %>
			  
<% if (current_user.is_admin?) %>			  
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_area_rackspace_path(@area, @rackspace), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              area_rackspace_path(@area, @rackspace),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>			  
</div>
