<%= simple_form_for @replace_part, :html => { :class => 'form-horizontal', :autocomplete => :off } do |f| %>
<div class="row">
	<div class="col-md-6  col-md-offset-3">
		<div class="widget">
			<div class="widget-content-white glossed">
				<div class="padded">
					<%= f.input :network_name, 
									  label: 'Сетевое имя',
									  label_html: { class: 'col-md-4' },
									  :wrapper => :medium,
									  :placeholder => "OIK7T-ODUYU",
									  input_html: {class: 'form-control'}
						  %>
						  
					<%= f.input :detail_type, 
							  label: 'Тип комплектующего',
							  label_html: { class: 'col-md-4' },
							  :wrapper => :medium,
							  :placeholder => "HDD",
							  input_html: {class: 'form-control'}
				  %>	  
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="widget">
			<div class="widget-content-white glossed">
				<div class="padded">
					<h3 class="form-title form-title-first">Отправляемые комплектующие</h3>
						<%= f.input :date_sending, as: :string,
										  label: 'Дата отправки',
										  placeholder: "2013-10-10",
										  label_html: { class: 'col-md-4' },
										  :wrapper => :medium,
										  input_html: {class: 'form-control datepicker'}
							  %>
						 <%= f.input :descr_sending, 
							   as: :text,
										  label: 'Описание',
										  label_html: { class: 'col-md-4' },
										  :wrapper => :medium,
										  input_html: {class: 'form-control', :rows => 7} %>
				</div>
			</div>
		</div>	
	</div>

	<div class="col-md-6">
		<div class="widget">
			<div class="widget-content-white glossed">
				<div class="padded">
					<h3 class="form-title form-title-first">Получаемые комплектующие</h3>
						<%= f.input :date_getting, as: :string,
										  label: 'Дата получения',
										  placeholder: "2013-10-10",
										  label_html: { class: 'col-md-4' },
										  :wrapper => :medium,
										  input_html: {class: 'form-control datepicker'}
							  %>
						 <%= f.input :descr_getting, 
							   as: :text,
										  label: 'Описание',
										  label_html: { class: 'col-md-4' },
										  :wrapper => :medium,
										  input_html: {class: 'form-control', :rows => 7} %>
				</div>
			</div>
		</div>	
	</div>
</div>

<div class="well">
  <div class="form-group">
    <div class="pull-right">
          <%= f.button :submit, :class => 'btn-default', :value => "Сохранить" %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")), servers_path, :class => 'btn' %>
    </div>
  </div>
</div>
<% end %> <!-- end form -->



