<div class="widget">
  <h3 class="section-title first-title"><i class="icon-table"></i> <%= t(:replace_parts) %></h3>
  <div class="widget-content-white glossed">
    <div class="padded">
    <table class="table table-striped table-bordered table-hover">
	  <colgroup>
        <col width="50" />
        <col width="150" />
        <col width="150" />
        <col width="250" />
        <col width="250" />
        <col width="100" />
      </colgroup>
      <thead>
        <tr>
          <th>#</th>
          <th>Наименование</th>
		  <th>Тип</th>
		  <th>Отправляемые комплектующие</th>
		  <th>Получаемые комплектующие</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% @replace_parts.each_with_index do |replace_part, i| %>
            <tr>
              <td><%= i + 1  %></td>
              <td><%= link_to replace_part.network_name, replace_part_path(replace_part) %></td>
			  <td><%= replace_part.detail_type  %></td>
			  <td>
				<div><strong>Дата</strong>: <%= replace_part.date_sending %></div>
				<div><%= simple_format(replace_part.descr_sending)  %></div>
			  </td>
			  
			  <td>
				<div><strong>Дата</strong>: <%= replace_part.date_getting %></div>
				<div><%= simple_format(replace_part.descr_getting)  %></div>
			  </td>
			  
              <td class="text-right">
				<% if (current_user.is_admin?) %>
					<%= link_to raw("<i class=\"icon-pencil\"></i> edit"), edit_replace_part_path(replace_part), :class => 'btn btn-default btn-xs' %>
					<%= link_to raw("<i class=\"icon-remove\"></i>"), replace_part, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Вы уверены?')) },
                            :class => 'btn btn-danger btn-xs' %>
				<% end %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_replace_part_path,
            :class => 'btn btn-primary' %>


