<dl class="dl-horizontal">
  <dt><strong>Сетевое имя:</strong></dt>
  <dd>
    <%= @replace_part.network_name %>
  </dd>
  
  <dt><strong>Тип комплектующего:</strong></dt>
  <dd>
    <%= @replace_part.detail_type %>
  </dd>
  
  <dt><strong>Дата отправки:</strong></dt>
  <dd>
    <%= @replace_part.date_sending %>
  </dd>
  
  <dt><strong>Описание отправки:</strong></dt>
  <dd>
    <%= simple_format(@replace_part.descr_sending) %>
  </dd>
  
  
  <dt><strong>Дата получения:</strong></dt>
  <dd>
    <%= @replace_part.date_getting %>
  </dd>
  
  <dt><strong>Описание получения:</strong></dt>
  <dd>
    <%= simple_format(@replace_part.descr_getting) %>
  </dd>
 </dl>

 <div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              replace_parts_path, :class => 'btn'  %>
	
  <% if (current_user.is_admin?) %>	
	  <%= link_to t('.edit', :default => t("helpers.links.edit")),
				   edit_replace_part_path(@replace_part), :class => 'btn' %>
	  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
				  replace_part_path(@replace_part),
				  :method => 'delete',
				  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
				  :class => 'btn btn-danger' %>
  <% end %>	
</div>