.well
  =form_tag "/history/index", :method => "get" do
    %p
      =label_tag "d_start1", "Время начала"
      =date_select("d_start1", "written_on", :default => @dstart)
    %p
      =label_tag "d_end1", "Время окончания"
      =date_select("d_end1", "written_on", :default => @d_end)

    =submit_tag "поиск", :class => "btn btn-primary"

.history_block
  -if @history.count > 0
    %table.table.table-striped
      %thead
        %tr
          %th Дата
          %th Пользователь
          %th Событие
      %tbody
        -@history.each do |history|
          %tr
            %td= l history.created_at, :format => :short
            %td= history.user.full_name
            %td= history.message
            
  -else 
    %h4= t(:nothing_found)

    