.depot_form
	-if flash[:alert]
		%p#notice =flash[:alert] 

	=form_tag do 
		%fieldset
			%legend Зарегистрируйтесь, пожалуйста

			=label_tag :name
			=text_field_tag :name


			=label_tag :password, 'Пароль:'
			=password_field_tag :password, params[:password]

			=submit_tag "Login"