<dl class="dl-horizontal">
  <dt><strong>Наименование:</strong></dt>
  <dd><%= @dcat.name %></dd>
  <dt><strong>Alias:</strong></dt>
  <dd><%= @dcat.alias %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              dcats_path, :class => 'btn'  %>
 <% if (current_user.is_admin?) %>			  
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_dcat_path(@dcat), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              dcat_path(@dcat),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
 <% end %>			  
</div>
