<div class="widget">
  <h3 class="section-title first-title"><i class="icon-table"></i> <%= t(:dictionary) %></h3>
  <div class="widget-content-white glossed">
    <div class="padded">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Наименование</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% @dcat_items.each_with_index do |dcat_item, i|  %>
            <tr>
              <td><%= i + 1  %></td>
              <td><%= dcat_item.name %></td>
              <td class="text-right">
				<% if (current_user.is_admin?) %>
					<%= link_to raw("<i class=\"icon-pencil\"></i> edit"), edit_dcat_dcat_item_path(@dcat , dcat_item), :class => 'btn btn-default btn-xs' %>
					<%= link_to raw("<i class=\"icon-remove\"></i>"), [@dcat, dcat_item], :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Вы уверены?')) },
                            :class => 'btn btn-danger btn-xs' %>
				<% end %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_dcat_dcat_item_path(params[:dcat_id]),
            :class => 'btn btn-primary' %>


