<%- model_class = DcatItem -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @dcat_item.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dcat_id) %>:</strong></dt>
  <dd><%= @dcat_item.dcat_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              dcat_dcat_items_path(@dcat), :class => 'btn'  %>
<% if (current_user.is_admin?) %>			  
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_dcat_item_path(@dcat_item), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              dcat_item_path(@dcat_item),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
 <% end %>			  
</div>
