<div class="widget">
  <h3 class="section-title first-title">Фильтр</h3>
  <div class="widget-content-white glossed">
    <div class="padded">
      
      <%= form_tag servers_path, {:method => 'get', :autocomplete => :off} do %>
      <div class="row">

        <div class="col-md-4">
          
          <div class="form-group">
            <label>Наименование</label>
            <%= text_field_tag :name, params[:name], :class => "form-control", :placeholder => "bc1-oduyu" %>
          </div>
          
          <div class="form-group">
            <label>Тип сервера</label>
            <%= select_tag :server_type_id, 
                            options_from_collection_for_select(@s_types, :id, :name, params[:server_type_id]), 
                            prompt: "Все типы",
                            :class =>  "form-control"
            %>
          </div>
          
          <div id="filds_by_type">
            <div class="form-group">
              <label>Модель сервера</label>
              <%= select_tag :server_model_id, 
                              options_from_collection_for_select(@models, :id, :name, params[:server_model_id]), 
                              prompt: "Все модели",
                              :class =>  "form-control"
              %>
            </div>
          </div>
          
          <div class="form-group">
            <label>Состояние сервера</label>
            <%= select_tag :status_id, 
                            options_from_collection_for_select(@statuses, :id, :name, params[:status_id]), 
                            prompt: "Все",
                            :class =>  "form-control"
            %>
          </div>

          
          <div class="form-group">
            <label>Уровень важности</label>
            <% (1..5).each do |n| %>                     
              <%= radio_button_tag "rating", n, (params[:rating] == n.to_s), :class => "star"  %>
            <% end %> 
          </div>

        </div>
          
        <div class="col-md-4">
          <div class="form-group">
              <label>Разрядность ОС</label>
              <%= select_tag :os_bit, 
                              options_from_collection_for_select(@os_bits, :id, :name, params[:os_bit]), 
                              prompt: "Все",
                              :class =>  "form-control"
              %>
            </div>

          <div class="form-group">
            <label>Модель ОС</label><br>
            <div class="filter os_bits_block">
              <% @os.each do |os| %>
                <label class="checkbox-inline">
                    <%= check_box_tag "os[]",os.id, params[:os].present? && params[:os].include?(os.id.to_s) %> <%= os.name %>
                </label><br/>
              <% end %> 
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          
          <div class="form-group">
            <label>Расположение</label><br>
            <div class="filter rackspaces_block">
              <% @areas.each do |area| %>
                <label class="checkbox-inline">
                    <%= check_box_tag "areas[]",area.id, params[:areas].present? && params[:areas].include?(area.id.to_s) %> <%= area.name %>
                </label><br/>
              <% end %> 
            </div>
          </div>
          
          <div class="form-group">
            <label>Сортировать</label><br>
            <%= select_tag :sort_by, 
                              options_for_select([
                                ['Наименование', "name"], 
                                ['Уровень важности', "rating"], 
                                ['Дата ввода', "date_start"]], params[:sort_by]
                              ), 
                              :class =>  "form-control"
              %>
          </div>

        </div>
      </div> <!-- end row -->
      <div class="row">
        <div class="filter_btn_block">
          <div class="pull-right">
            <%= link_to "сбросить фильтр", servers_path %>
            <%= submit_tag "Найти", :name => nil, :class => "btn btn-primary" %>
          </div>

        </div>        
      </div>
  <% end %>
  

    </div>
  </div>
</div>
