
<%= simple_form_for @server, :html => { :class => 'form-horizontal', :autocomplete => :off } do |f| %>
<div class="row">
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-content-white glossed">
        <div class="padded">
            <h3 class="form-title form-title-first">Описание сервера</h3>
        
      <div class="form-group">
          <label class="control-label col-md-4" for="rating">Рэйтинг</label>
          <div class="controls col-md-8">
            <% (1..5).each do |i| %>                     
              <%= f.radio_button :rating, i, :class => "star", :checked => (@server.rating == i || params[:rating] == i)  %>
            <% end %> 
          </div>
        </div>
          

              <%= f.input :name, 
                          label: 'Наименование',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'}
              %>

              <%= f.input :description  , 
                          as: :text,
                          label: 'Описание',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control', :rows => 7}%>
              
              <%= f.input :status_id, 
                          collection: @statuses, 
                          label: 'Состояние',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'},
                          :include_blank => false  %>

              <%= f.input :type_id, 
                          collection: @s_types, 
                          label: 'Тип сервера',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'},
                          :include_blank => false  %>

              <%= f.input :date_start, as: :string,
                          label: 'Дата ввода',
                          placeholder: "2013-10-10",
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'}
              %>

                          
            <div id="filds_by_type">
              <%= f.input :rackspace_id, 
                          collection: @areas, 
                          label: 'Расположение',
                          as: :grouped_select, 
                          group_method: :rackspaces,
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'},
                          :include_blank => "Расположение сервера"  %>

              <%= f.input :model_id, 
                          collection: @models, 
                          label: 'Модель',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'},
                          :include_blank => "Модель сервера"  %>
              
              <%= f.input :model_details, 
                          label: 'Дополнительно',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'}
              %>
      

              <%= f.input :serial_num, 
                          label: 'S/n',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'}
              %>

              <%= f.input :inventory_num, 
                          label: 'I/n',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'}
              %>
            </div>

              <%= f.input :ip, 
                          label: 'IP',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'}%>

              <%= f.input :mac, 
                          label: 'Mac',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'}%>

        </div>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="widget">
      <div class="widget-content-white glossed">
        <div class="padded">
            <h3 class="form-title form-title-first">Software</h3>
                
                <%= f.input :os_id, 
                          collection: @os, 
                          :include_blank => "Выберите ОС",
                          label: 'ОС',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'} %>

                  <%= f.input :os_details, 
                              label: 'Дополнительно',
                              label_html: { class: 'col-md-4' },
                              :wrapper => :medium,
                              :placeholder => "SP1",
                              input_html: {class: 'col-md-4 form-control'}%>

                  <%= f.input :os_bit, 
                          collection: @os_bits, 
                          :include_blank => false,
                          label: 'Разрядность',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'} %>

              <%= f.input :software, 
                          as: :text,
                          label: 'Софт',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control', :rows => 5}%>
        </div>
      </div>
    </div>

    <div class="widget">
      <div class="widget-content-white glossed">
        <div class="padded">
            <h3 class="form-title form-title-first">Hardware</h3>

              <%= f.input :hardware, 
                          as: :text,
                          label: 'Комплектация',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control', :rows => 7}%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="well">
  <div class="form-group">
    <div class="pull-right">
          <%= f.button :submit, :class => 'btn-default', :value => "Сохранить" %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")), servers_path, :class => 'btn' %>
    </div>
  </div>
</div>
<% end %> <!-- end form -->



