<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
 </OfficeDocumentSettings>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" ss:Size="11" ss:Color="#000000"/>
   <NumberFormat/>
  </Style>
  <Style ss:ID="s15">
   <Interior/>
   <Protection/>
  </Style>
  <Style ss:ID="s62">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Interior/>
   <Protection/>
  </Style>
  <Style ss:ID="s63">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Interior/>
   <Protection/>
  </Style>
  <Style ss:ID="s64">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Interior/>
   <Protection/>
  </Style>
  <Style ss:ID="s65">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Interior/>
   <Protection/>
  </Style>
  <Style ss:ID="s66">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Calibri" ss:Size="11" ss:Color="#000000" ss:Bold="1"/>
   <Interior ss:Color="#CCCCCC" ss:Pattern="Solid"/>
   <Protection/>
  </Style>
  <Style ss:ID="s67">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Calibri" ss:Size="11" ss:Color="#000000" ss:Bold="1"/>
   <Interior ss:Color="#CCCCCC" ss:Pattern="Solid"/>
   <Protection/>
  </Style>
  <Style ss:ID="s68">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Interior ss:Color="#CCCCCC" ss:Pattern="Solid"/>
   <Protection/>
  </Style>
  <Style ss:ID="s69">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Calibri" x:CharSet="204" x:Family="Swiss" ss:Size="11"
    ss:Color="#000000"/>
   <Interior ss:Color="#CCCCCC" ss:Pattern="Solid"/>
   <Protection/>
  </Style>
  <Style ss:ID="s70">
   <Alignment ss:Horizontal="Right" ss:Vertical="Bottom"/>
   <Font ss:FontName="Calibri" x:CharSet="204" x:Family="Swiss" ss:Size="16"
    ss:Color="#000000"/>
   <Interior/>
   <Protection/>
  </Style>
 </Styles>
 <Worksheet ss:Name="Серверное Оборудование">
  <Table x:FullColumns="1"
   x:FullRows="1" ss:StyleID="s15">
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="26.25"/>
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="105"/>
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="73.5"/>
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="84"/>
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="183.75" ss:Span="1"/>
   <Column ss:Index="7" ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="210"/>
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="131.25"/>
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="183.75"/>
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="78.75" ss:Span="1"/>
   <Column ss:Index="12" ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="99.75"/>
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="157.5"/>
   <Row ss:Index="2" ss:Height="21">
    <Cell ss:Index="12" ss:StyleID="s70"><Data ss:Type="String">Список серверного оборудования ОДУ ЮГА </Data></Cell>
   </Row>
   <Row ss:Index="4" ss:Height="30">
    <Cell ss:StyleID="s66"><Data ss:Type="String">№ п/п</Data></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Наименование</Data></Cell>
    <Cell ss:StyleID="s67"><Data ss:Type="String">Год начала эксплуатации</Data></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">IP адрес/маска</Data></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Роль/выполняемые функции</Data></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Установленное ПО</Data></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Операционная система</Data></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Модель сервера</Data></Cell>
    <Cell ss:StyleID="s68"><Data ss:Type="String">Комплектация оборудования</Data></Cell>
    <Cell ss:StyleID="s68"><Data ss:Type="String">Серийный номер</Data></Cell>
    <Cell ss:StyleID="s68"><Data ss:Type="String">Инвентарный номер</Data></Cell>
    <Cell ss:StyleID="s69"><Data ss:Type="String">Расположение</Data></Cell>
    <Cell ss:StyleID="s62"/>
   </Row>

   <% @servers.each_with_index do |server, i| %>
     <Row ss:AutoFitHeight="1" >
      <Cell ss:StyleID="s64"><Data ss:Type="Number"><%= i + 1 %></Data></Cell>
      <Cell ss:StyleID="s64"><Data ss:Type="String"><%= server.name %></Data></Cell>
<<<<<<< HEAD
      <Cell ss:StyleID="s65"><Data ss:Type="Number"><%= server.date_start.year %></Data></Cell>
=======
      <Cell ss:StyleID="s65"><Data ss:Type="String"><%= (l server.date_start, format: :default ) if (server.date_start.present?)%></Data></Cell>
>>>>>>> 6ee54559950b69b67008d2880b2fd0739d9c8cb8
      <Cell ss:StyleID="s64"><Data ss:Type="String"><%= server.ip %></Data></Cell>
      <Cell ss:StyleID="s64"><Data ss:Type="String"><%= text_for_excel(server.description) %></Data></Cell>
      <Cell ss:StyleID="s64"><Data ss:Type="String"><%= text_for_excel(server.software) %></Data></Cell>
      <Cell ss:StyleID="s64"><Data ss:Type="String"><%= server.os.name if server.os.present? %> <%= server.os_b.name if server.os_b.present? %> <%= server.os_details %></Data></Cell>
      <Cell ss:StyleID="s64"><Data ss:Type="String">
        <% if server.type_id == Server::FIZ_TYPE %>
          <%= server.model.name if server.model.present? %> <%= server.model_details %>
        <% else %>
          <%= server.type.name %>
        <% end %>
      </Data></Cell>
      <Cell ss:StyleID="s64"><Data ss:Type="String"><%= text_for_excel(server.hardware) %></Data></Cell>
      <Cell ss:StyleID="s64"><Data ss:Type="String"><%= server.serial_num %></Data></Cell>
      <Cell ss:StyleID="s64"><Data ss:Type="String"><%= server.inventory_num %></Data></Cell>
      <Cell ss:StyleID="s64"><Data ss:Type="String"><%= (server.rackspace.area.name + " " + server.rackspace.name) if (server.type_id == Server::FIZ_TYPE && server.rackspace.present?)  %></Data></Cell>
      <Cell ss:StyleID="s62"/>
     </Row>
   <% end %>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Header x:Margin="0.3"/>
    <Footer x:Margin="0.3"/>
    <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
   </PageSetup>
   <Print>
    <ValidPrinterInfo/>
    <HorizontalResolution>600</HorizontalResolution>
    <VerticalResolution>600</VerticalResolution>
   </Print>
   <Zoom>69</Zoom>
   <Selected/>
   <TopRowVisible>1</TopRowVisible>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>13</ActiveRow>
     <ActiveCol>15</ActiveCol>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
   <AllowFormatCells/>
   <AllowSizeCols/>
   <AllowSizeRows/>
   <AllowInsertCols/>
   <AllowInsertRows/>
   <AllowInsertHyperlinks/>
   <AllowDeleteCols/>
   <AllowDeleteRows/>
   <AllowSort/>
   <AllowFilter/>
   <AllowUsePivotTables/>
  </WorksheetOptions>
 </Worksheet>
</Workbook>
