<%= render "filter" %>

 <% title "Сервера" %>

<div class="widget">
  <div class="row">
    <div class="col-md-8">
      <h3 class="section-title first-title"><i class="icon-table"></i> Серверное оборудование <%= @servers.count %></h3>   
    </div>
    <div class="col-md-4 text-right">
        <%= link_to t('.new', :default => t("helpers.links.new")),
              new_server_path,
              :class => 'btn btn-primary' %>

        <%= link_to 'Export Excel',  
                    servers_path(params.merge(format: 'xls')),
                    :class => 'btn btn-success'
                     %>
    
    </div>
  </div>
  
  <div class="widget-content-white glossed">
    <div class="padded">
    <table class="table table-striped table-bordered table-hover">
      <colgroup>
        <col width="50" />
        <col width="150" />
        <col width="70" />
        <col width="150" />
        <col width="150" />
        <col width="150" />
        <col width="90" />
      </colgroup>
      <thead>
        <tr>
          <th>#</th>
          <th>Наименование</th>
          <th>Статус</th>
          <th>Модель</th>
          <th>Описание</th>
          <th>Hardware</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% @servers.each_with_index do |server, num| %>
            <tr>
              <td><%= num + 1 %></td>
              <td>
                <div> <%= link_to server.name, server_path(server) %></div>
                <div>
                  <% (1..5).each do |i| %>                     
                    <%= radio_button_tag "rating#{num}", i, (server[:rating] == i), :class => "star", :disabled => "disabled"  %>
                  <% end %>
                </div>
		<br/>
                <% if server.status.present? %>
                  <div>Создан: <%= (l server.date_start, format: :default) if (server.date_start.present?)%></div>
                <% end %>
              </td>
              <td>
                <% if server.status.present? %>
                  <div>
                    <span class="label label-<%= status_by_id server.status_id %>"><%= server.status.name %></span>
                  </div>
                <% end %>
              </td>
              <td>
                <% if(server.type_id == Server::FIZ_TYPE) %>
                  <div><%= server.model.name if(server.model.present?) %> <%=server.model_details %></div>
                  <div><%= server.rackspace.area.name + " " + server.rackspace.name if server.rackspace.present? %></div>
                  <div><strong>I/n:</strong> <%= server.inventory_num %></div>
                <% else %>
                  <%= server.type.name if(server.type.present?) %>
                <% end %>
              </td>
              
              <td><%= simple_format(server.description) %></td>
              <td>
                <%= server.os.name if server.os.present? %> <%= server.os_details %><br/>
                <%= simple_format(server.hardware) %>
              </td>

              <td class="text-right">
				<% if (current_user.is_admin?) %>
					<%= link_to raw("<i class=\"icon-pencil\"></i> edit"), edit_server_path(server), :class => 'btn btn-default btn-xs' %>
					<%= link_to raw("<i class=\"icon-remove\"></i>"), server_path(server), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Вы уверены?')) },
								:class => 'btn btn-danger btn-xs' %>
				<% end %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
