<dl class="dl-horizontal">
  <dt><strong>Наименование:</strong></dt>
  <dd>
    <%= @server.name %>
    <span class="label label-<%= status_by_id @server.status_id %>"><%= @server.status.name %></span>
  </dd>
  
  <dt><strong>Тип сервера:</strong></dt>
  <dd><%= @server.type.name %></dd>

  <dt><strong>Описание:</strong></dt>
  <dd><%= simple_format(@server.description) %></dd>
  
  <dt><strong>Дата ввода в эксплуатацию</strong></dt>
  <dd><%= @server.date_start if (@server.date_start.present?) %></dd>

  <dt><strong>IP:</strong></dt>
  <dd><%= @server.ip %></dd>
  <dt><strong>MAC:</strong></dt>
  <dd><%= @server.mac %></dd>
  <dt><strong>Уровень важности:</strong></dt>
  <dd>
    <% (1..5).each do |i| %>                     
      <%= radio_button_tag "rating", i, (@server.rating == i), :class => "star", disabled: true  %>
    <% end %> 
    </dd>

  
  <% if(@server.type_id == Server::FIZ_TYPE) %>
    <dt><strong>Расположение:</strong></dt>
    <dd>
      <%= @server.rackspace.area.name + " " + @server.rackspace.name if @server.rackspace.present? %>
    <dt><strong>Модель:</strong></dt>
    <dd><%= @server.model.name if @server.model.present? %><%= @server.model_details %></dd>

    <dt><strong>S/n:</strong></dt>
    <dd><%= @server.serial_num %></dd>
    <dt><strong>I/n:</strong></dt>
    <dd><%= @server.inventory_num %></dd>
    
  <% end %>


  <dt><strong>ОС:</strong></dt>
  <dd><%= @server.os.name if @server.os.present? %> <%= @server.os_b.name if @server.os_b.present? %> <%= @server.os_details %></dd>
  <dt><strong>Hardware:</strong></dt>
  <dd><%= simple_format(@server.hardware) %></dd>
  <dt><strong>Software:</strong></dt>
  <dd><%= simple_format(@server.software) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              servers_path, :class => 'btn'  %>
	
  <% if (current_user.is_admin?) %>	
	  <%= link_to t('.edit', :default => t("helpers.links.edit")),
				  edit_server_path(@server), :class => 'btn' %>
	  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
				  server_path(@server),
				  :method => 'delete',
				  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
				  :class => 'btn btn-danger' %>
  <% end %>	
</div>
