<ol class="breadcrumb">
	<% if @breadcrumbs  %>
		<% @breadcrumbs[0..-2].each do |txt, path| %>
			<li><%= link_to h(txt), path %></li>
		<% end %>
		<li class="active"><%= @breadcrumbs.last.first %></li>
	<% end %>
</ol>