<% if flash.count > 0
     flash.each do |name, message| %>
        <div class="alert alert-warning alert-dismissable">
             <%= message %>
             <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          </div>
		<% end %>
  <% end %>