<div class="header-links hidden-xs">
  <!-- <a href="notifications.html"><i class="icon-comments"></i> User Alerts</a>
  <a href="#"><i class="icon-cog"></i> Settings</a> -->
  <% if user_signed_in? %>
  	 <a href="#"><i class="icon-user"></i> <%= current_user.displayname %></a>
  	<%= link_to raw("<i class=\"icon-signout\"></i> Выход"), destroy_user_session_path, :method => :delete %>
  <% end %>
</div>