<div class="widget">
  <h3 class="section-title first-title"><i class="icon-table"></i> <%= t(:areas) %></h3>
  <div class="widget-content-white glossed">
    <div class="padded">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Наименование</th>
          <th>Дата создания</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% @areas.each_with_index do |area, i| %>
            <tr>
              <td><%= i + 1  %></td>
              <td><%= link_to area.name, area_rackspaces_path(area) %></td>
              <td><%=l area.created_at, format: :short  %></td>
              <td class="text-right">
				<% if (current_user.is_admin?) %>
					<%= link_to raw("<i class=\"icon-pencil\"></i> edit"), edit_area_path(area), :class => 'btn btn-default btn-xs' %>
					<%= link_to raw("<i class=\"icon-remove\"></i>"), area_path(area), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Вы уверены?')) },
                            :class => 'btn btn-danger btn-xs' %>
				<% end %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_area_path,
            :class => 'btn btn-primary' %>


