<dl class="dl-horizontal">
  <dt><strong>Наименование:</strong></dt>
  <dd><%= @area.name %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              areas_path, :class => 'btn'  %>
			  
<% if (current_user.is_admin?) %>			  
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_area_path(@area), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              area_path(@area),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>			  
</div>
