<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<h3 class="form-title form-title-first"><i class="icon-lock"></i> Вход</h3>
  <div class="form-inputs">
    <%= f.input :login, 
    						:required => true, 
    						:autofocus => true,
    						label: 'Логин',
    						placeholder: 'Username',
    						wrapper_html: { class: 'form-group' },
		          	input_html: {class: 'form-control'} %>
    

    <%= f.input :password, 
    						:required => true, 
    						label: 'Пароль',
    						wrapper_html: { class: 'form-group' },
		          	input_html: {class: 'form-control'}  %>


	<% #if devise_mapping.rememberable? %>
	<!-- <div class="form-group">
      <div class="checkbox">
        <label>
					<%= f.check_box(:remember_me) %> Запомнить меня
					</label>
      </div>
    </div> -->
	<% #end %>
	
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Вход", :class => "btn btn-primary btn-lg"%>
  </div>
<% end %>

