<div class="widget">
  <h3 class="section-title first-title"><i class="icon-table"></i> Операционные зоны</h3>
  <div class="widget-content-white glossed">
    <div class="padded">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Наименование</th>
		  <th>Alias</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% @zones.each_with_index do |zone, i| %>
            <tr>
              <td><%= i + 1  %></td>
              <td><%= zone.name %></td>
			  <td><%= zone.alias %></td>
              <td class="text-right">
				<% if (current_user.is_admin?) %>
					<%= link_to raw("<i class=\"icon-pencil\"></i> edit"), edit_zone_path(zone), :class => 'btn btn-default btn-xs' %>
					<%= link_to raw("<i class=\"icon-remove\"></i>"), zone_path(zone), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Вы уверены?')) },
                            :class => 'btn btn-danger btn-xs' %>
				<% end %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_zone_path,
            :class => 'btn btn-primary' %>


