<dl class="dl-horizontal">
  <dt><strong>Наименование:</strong></dt>
  <dd><%= @zone.name %></dd>
  
  <dt><strong>Alias:</strong></dt>
  <dd><%= @zone.alias %></dd>
  
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              zones_path, :class => 'btn'  %>

<% if (current_user.is_admin?) %>			  
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_zone_path(@zone), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              zone_path(@zone),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>			  
</div>
