<div class="row">
	<div class="col-md-8 col-md-offset-2">
	  <div class="widget">
	    <div class="widget-content-white glossed">
	      <div class="padded">
	        <%= simple_form_for @tape_library, :html => { :class => 'form-horizontal' } do |f| %>
	          <h3 class="form-title form-title-first"><i class="icon-th-list"></i> Ленточная библиотека</h3>

		          <%= f.input :name, 
		          						label: 'Наименование',
		          						label_html: { class: 'col-md-4' },
		          						:wrapper => :medium,
		          						input_html: {class: 'form-control'}
		          %>

	            <%= f.input :ip, 
		          						label: 'IP',
		          						label_html: { class: 'col-md-4' },
		          						:wrapper => :medium,
		          						input_html: {class: 'form-control'}%>
				
				<%= f.input :inventory_num, 
						label: 'Инвентарный номер',
						label_html: { class: 'col-md-4' },
						:wrapper => :medium,
						input_html: {class: 'form-control'}%>
				

  						<%= f.input :rackspace_id, 
                          collection: @areas, 
                          label: 'Расположение',
                          as: :grouped_select, 
                          group_method: :rackspaces,
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'},
                          :include_blank => "Расположение сервера"  %>

  						<%= f.input :model_id, 
  												collection: @models, 
  												:include_blank => "Выберите модель",
		          						label: 'Модель',
  												label_html: { class: 'col-md-4' },
		          						:wrapper => :medium,
		          						input_html: {class: 'form-control'}
  						%>

	          <div class="form-group">
	            <div class="col-md-offset-4 col-md-8">
	                 	<%= f.button :submit, :class => 'btn-default' %>
    								<%= link_to t('.cancel', :default => t("helpers.links.cancel")), tape_libraries_path, :class => 'btn' %>
	            </div>
	          </div>
	        <% end %> <!-- end form -->
	      </div>
	    </div>
	  </div>
	</div>
</div>