<div class="widget">
  <div class="widget-content-white glossed">
    <div class="padded">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Наименование</th>
          <th>IP</th>
		  <th>In</th>
          <th>Расположение</th>
          <th>Модель</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% @tape_libraries.each_with_index do |tape_library, i| %>
            <tr>
              <td><%= i + 1  %></td>
              <td><%= link_to tape_library.name, tape_library_path(tape_library) %></td>
              <td><%= tape_library.ip %></td>
			  <td><%= tape_library.inventory_num %></td>
              <td><%= tape_library.rackspace.area.name + " " + tape_library.rackspace.name %></td>
              <td><%= tape_library.DcatItem.name if tape_library.DcatItem.present? %></td>
              <td class="text-right">
				<% if (current_user.is_admin?) %>	
					<%= link_to raw("<i class=\"icon-pencil\"></i> edit"), edit_tape_library_path(tape_library), :class => 'btn btn-default btn-xs' %>
					<%= link_to raw("<i class=\"icon-remove\"></i>"), tape_library_path(tape_library), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Вы уверены?')) },
								:class => 'btn btn-danger btn-xs' %>
				<% end %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_tape_library_path,
            :class => 'btn btn-primary' %>


