<dl class="dl-horizontal">
  <dt><strong>Наименование:</strong></dt>
  <dd><%= @tape_library.name %></dd>
  
  <dt><strong>IP:</strong></dt>
  <dd><%= @tape_library.ip %></dd>
  
  <dt><strong>Инвентарный номер:</strong></dt>
  <dd><%= @tape_library.inventory_num %></dd>
  
  <dt><strong>Расположение:</strong></dt>
  <dd><%= @tape_library.rackspace.name %></dd>
  
  <dt><strong>Модель:</strong></dt>
  <dd><%= @tape_library.DcatItem.name %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              tape_libraries_path, :class => 'btn'  %>
			  
<% if (current_user.is_admin?) %>			  
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tape_library_path(@tape_library), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tape_library_path(@tape_library),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>
</div>
