<%= simple_form_for(@datastorage) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :zone_id %>
    <%= f.input :rackspace_id %>
    <%= f.input :status_id, as: :boolean %>
    <%= f.input :extenders %>
    <%= f.input :disks %>
    <%= f.input :inventory_num %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
