<h1>Listing datastorages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Zone</th>
    <th>Rackspace</th>
    <th>Status</th>
    <th>Extenders</th>
    <th>Disks</th>
    <th>Inventory num</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @datastorages.each do |datastorage| %>
  <tr>
    <td><%= datastorage.name %></td>
    <td><%= datastorage.zone_id %></td>
    <td><%= datastorage.rackspace_id %></td>
    <td><%= datastorage.status_id %></td>
    <td><%= datastorage.extenders %></td>
    <td><%= datastorage.disks %></td>
    <td><%= datastorage.inventory_num %></td>
    <td><%= link_to 'Show', datastorage %></td>
    <td><%= link_to 'Edit', edit_datastorage_path(datastorage) %></td>
    <td><%= link_to 'Destroy', datastorage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Datastorage', new_datastorage_path %>
