<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @datastorage.name %>
</p>

<p>
  <b>Zone:</b>
  <%= @datastorage.zone_id %>
</p>

<p>
  <b>Rackspace:</b>
  <%= @datastorage.rackspace_id %>
</p>

<p>
  <b>Status:</b>
  <%= @datastorage.status_id %>
</p>

<p>
  <b>Extenders:</b>
  <%= @datastorage.extenders %>
</p>

<p>
  <b>Disks:</b>
  <%= @datastorage.disks %>
</p>

<p>
  <b>Inventory num:</b>
  <%= @datastorage.inventory_num %>
</p>


<%= link_to 'Edit', edit_datastorage_path(@datastorage) %> |
<%= link_to 'Back', datastorages_path %>
