.star-rating-control{ margin-top: 8px; display: block;}
.filter_btn_block{ margin-right: 10px; }

.filter{ 
		background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5px;
	overflow: scroll;
	&.os_bits_block{ height: 183px; }
	&.rackspaces_block{ height: 257px; }
 }

 .marg_block{ margin: 10px 0; }
 .show_block{ padding: 20px }
 .show_block img{ max-width: 80%; }