<%= simple_form_for @commutator, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :model_id %>
  <%= f.input :serial_num %>
  <%= f.input :inventory_num %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                commutators_path, :class => 'btn' %>
  </div>
<% end %>
