<%- model_class = Commutator -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:model_id) %></th>
      <th><%= model_class.human_attribute_name(:serial_num) %></th>
      <th><%= model_class.human_attribute_name(:inventory_num) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @commutators.each do |commutator| %>
      <tr>
        <td><%= link_to commutator.id, commutator_path(commutator) %></td>
        <td><%= commutator.name %></td>
        <td><%= commutator.model_id %></td>
        <td><%= commutator.serial_num %></td>
        <td><%= commutator.inventory_num %></td>
        <td><%=l commutator.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_commutator_path(commutator), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      commutator_path(commutator),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_commutator_path,
            :class => 'btn btn-primary' %>
