<%- model_class = Commutator -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @commutator.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:model_id) %>:</strong></dt>
  <dd><%= @commutator.model_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:serial_num) %>:</strong></dt>
  <dd><%= @commutator.serial_num %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inventory_num) %>:</strong></dt>
  <dd><%= @commutator.inventory_num %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              commutators_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_commutator_path(@commutator), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              commutator_path(@commutator),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
