<div class="row">
	<div class="col-md-12">
	  <div class="widget">
	    <div class="widget-content-white glossed">
	      <div class="padded">
	        <%= simple_form_for @info, :html => { :class => 'form-horizontal' } do |f| %>
	          <h3 class="form-title form-title-first"><i class="icon-th-list"></i> База знаний</h3>

		          <%= f.input :name, 
		          						label: 'Наименование',
		          						label_html: { class: 'col-md-4' },
		          						:wrapper => :medium,
		          						input_html: {class: 'form-control'}
		          %>

	               <%= f.input :description, 
                          as: :text,
                          label: 'Описание',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control tinymce', :rows => 20}%>


  						<%= f.input :cat_id, 
                          collection: @categories, 
                          label: 'Категория',
                          label_html: { class: 'col-md-4' },
                          :wrapper => :medium,
                          input_html: {class: 'form-control'},
                          :include_blank => false  %>

	          <div class="form-group">
	            <div class="col-md-offset-4 col-md-8">
	                 	<%= f.button :submit, :value => "Сохранить", :class => 'btn-default' %>
    								<%= link_to t('.cancel', :default => t("helpers.links.cancel")), infos_path, :class => 'btn' %>
	            </div>
	          </div>
	        <% end %> <!-- end form -->
	      </div>
	    </div>
	  </div>
	</div>
</div>