	<div class="show_block">
			<dl class="dl-horizontal">
				
				<div class="marg_block">
				  <dt><strong>Наименование:</strong></dt>
				  <dd><%= @info.name %></dd>
				</div>

				<div class="marg_block">
				  <dt><strong>Категория:</strong></dt>
				  <dd><%= @info.category.name %></dd>
				</div>

				<div class="marg_block">
				  <dt><strong>Описание:</strong></dt>
				  <dd><%= raw  @info.description %></dd>
				 </div>
		</dl>
	</div>
