<div class="widget">
  <h3 class="section-title first-title"><i class="icon-book"></i> <%= t(:infos) %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_info_path,
            :class => 'btn btn-primary pull-right' %>
  </h3>
  <ul class="nav nav-tabs">
    <% @categories.each_with_index do |cat, i| %>
      <li <%= "class=active" if (i == 0)%> >
        <a href="#tab_<%= cat.id %>" data-toggle="tab"><%= cat.name %></a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content bottom-margin">

    <% @categories.each_with_index do |cat, i| %>
    <div class="tab-pane <%="active" if(i == 0) %>" id="tab_<%= cat.id %>">
      <div class="padded">
        
        <table class="table table-striped table-bordered table-hover">
          <colgroup>
            <col width="100" />
            <col width="800" />
            <col width="100" />
          </colgroup>
          <thead>
            <tr>
              <th>#</th>
              <th>Наименование</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% if (cat.infos.present?) %>
              <% cat.infos.each_with_index do |info, i| %>
                <tr>
                  <td><%= i + 1  %></td>
                  <td><%= link_to info.name, info_path(info), :remote => true %></td>
                  <td class="text-right">
				  <% if (current_user.is_admin?) %>
                    <%= link_to raw("<i class=\"icon-pencil\"></i> edit"), edit_info_path(info), :class => 'btn btn-default btn-xs' %>
                    <%= link_to raw("<i class=\"icon-remove\"></i>"), info_path(info), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Вы уверены?')) },
                                :class => 'btn btn-danger btn-xs' %>
					<% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <% end %>

  </div>
</div>