<%= render 'show_block' %>

<div class="row">
	<div class="form-actions">
	  <%= link_to t('.back', :default => t("helpers.links.back")),
	              infos_path, :class => 'btn'  %>
	<% if (current_user.is_admin?) %>
	  <%= link_to t('.edit', :default => t("helpers.links.edit")),
	              edit_info_path(@info), :class => 'btn' %>
	  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	              info_path(@info),
	              :method => 'delete',
	              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	              :class => 'btn btn-danger' %>
		<% end %>
	</div>
</div>
