<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=cyrillic-ext' rel='stylesheet' type='text/css'>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    @javascript html5shiv respond.min
  <![endif]-->

    <title>Инвентаризация оборудования - <%= yield (:title) || "ОДУ ЮГА" %></title>

    
    <!-- %title "RailsInventory" -->
    <%= stylesheet_link_tag :application, :media => "all" %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  
    <div class="all-wrapper">
      <div class="row">
        <div class="col-md-3">
          <%= render 'layouts/blocks/sidebar' %>
        </div>

        <div class="col-md-9">
          <div class="content-wrapper">
            <div class="content-inner">
              <div class="page-header">
                <%= render 'layouts/blocks/top_menu' %>
                <h1><i class="<%= @icon %>"></i><%= @title %></h1>
              </div>
              
              <%= show_breadcrumbs %> 

              <div class="main-content">
      					<%= render 'layouts/blocks/messages' %>
                <%= yield %>
              </div>

        </div>
      </div>
    </div>
    
<%= render 'layouts/blocks/footer' %>


