<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=cyrillic-ext' rel='stylesheet' type='text/css'>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    @javascript html5shiv respond.min
  <![endif]-->

    <title>Инвентаризация оборудования - <%= yield (:title) || "ОДУ ЮГА" %></title>

    
    <!-- %title "RailsInventory" -->
    <%= stylesheet_link_tag :application, :media => "all" %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  
    <div class="all-wrapper no-menu-wrapper">
  <div class="login-logo-w">
    <a href="<%= root_path %>" class="logo">
    <%= image_tag('logo.png', width: "100", alt: "Логотип") %>
      <span>Инвентаризация</span>
    </a>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <div class="content-wrapper bold-shadow">
        <div class="content-inner">
          <div class="main-content main-content-grey-gradient no-page-header">
            <div class="main-content-inner">
            		<%= render 'layouts/blocks/messages' %>
                <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    
<%= render 'layouts/blocks/footer' %>


